@media (min-width:600px) and (max-width: 1000px) {
  body {
    background-color: blue;
    text-align: center;
  }
}

@media (min-width:600px) and (max-width: 1000px) and (orientation: landscape) {
  body {
    background-color: green;
    color: gray;
    text-align: center;
  }
}

@media (max-width:600px) {
  body {
  background-color: red;
}
}
